@font-face {
	font-family: ChauPhilomeneOne;
	src: url('../fonts/ChauPhilomeneOne-Regular.ttf');
	font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'ChauPhilomeneOne', sans-serif;
  background-color: #000;
  color: #f00;
  text-align: center;
  font-size: 1.5em;
}

.dark {
	color: rgba(17, 17, 17, .7);
}

.container {
  width: 90%;
  margin: 0 auto;
  background-image: url("../images/buffalo-skull.png");
	background-repeat: no-repeat;
	background-position: center;
  min-height: 500px;
}

.btn {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  color: #ffffff;
  font-size: 20px;
  background: #d9343c;
  padding: 10px 20px;
  text-decoration: none;
}

.inputBtn {
	-webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-size: 14px;
  padding: 10px 9px;
  text-decoration: none;
}

.btn:hover {
  background: #c70000;
  text-decoration: none;
}
